html {
    background: black;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 30 40px;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    background: white;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background: transparent;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

p {
    margin: 15px 0;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    background: orange;
    color: white;
    border-radius: 30px;
}